[alias]
  a = add
  b = branch
  bl = blame
  br = branch
  c = commit
  ca = commit --amend
  ci = commit
  cia = commit --amend
  cl = clone
  co = checkout
  compare = log --left-right --graph --cherry-pick --date=relative --pretty=format:'%Cred%h%Creset %s %Cgreen(%an, %ad)%Creset'
  count = shortlog -sn
  cp = cherry-pick
  d = diff
  dc = diff --cached
  f = fetch
  g = grep
  graph = log --graph --all --decorate --stat --date=iso
  i = init
  l = log -10 --date=relative --pretty=format:'%Cred%h%Creset %s %Cgreen(%an, %ad)%Creset'
  m = merge
  o = overview
  overview = log --all --no-merges --oneline -10 --date=relative --pretty=format:'%Cred%h%Creset%Cblue%d%Creset %s %Cgreen(%an, %ad)%Creset'
  p = push
  patch = --no-pager diff --no-color
  pf = push -f
  pl = pull
  pu = push -u
  r = remote
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rbi2 = rebase --interactive HEAD~2
  rbi3 = rebase --interactive HEAD~3
  rbi5 = rebase --interactive HEAD~5
  rbi10 = rebase --interactive HEAD~10
  rbi20 = rebase --interactive HEAD~20
  rbs = rebase --skip
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
  ru = remote update
  sh = show
  s = status -sb
  scoreboard = shortlog -sn
  st = status
  stash-all = stash save --include-untracked
  t = tag
  undo = reset --soft HEAD^
  upstream = l HEAD..origin
  wc = whatchanged -p

[branch]
  # set up git pull to do a rebase instead of merge
  autosetuprebase = always

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[color "diff-highlight"]
  oldNormal = red
  oldHighlight = 160 52
  newNormal = green
  newHighlight = 34 22

[color "diff"]
  meta = yellow
  frag = magenta
  commit = yellow
  old = red
  new = green
  whitespace = red reverse

[commit]
  verbose = true

[core]
  # For dealing with Windows projects
  autocrlf = false

  # Global gitignore
  excludesfile = ~/.gitignoreglobal

  # Make git rebase safer on OS X (http://www.git-tower.com/blog/make-git-rebase-safe-on-osx)
  trustctime = false

  # Glogal git attributes file
  attributesfile = ~/.gitattributes

  # Custom pager (wrapping long lines); Either `diff-highlight` (from
  # git-contrib) or custom `diff-so-fancy` (if available)
  pager = "if type diff-so-fancy >/dev/null 2>&1; then diff-so-fancy | less --tabs=4 -RFX; else diff-highlight | less -r; fi"

[diff]
  # Detect renames of files
  renames = true

[fetch]
  # Disable fsck when pulling (some repos like rails have errors in them)
  fsckobjects = false

[grep]
  lineNumber = true
  extendedRegexp = true

[init]
  # Default git hooks (will be copied over to each newly cloned repo)
  templatedir = ~/.git_template

[filter "media"]
  # Handle large media files in Git without storing the media in Git itself
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[merge]
  conflictstyle = diff3
  tool = vimdiff3

[mergetool "vimdiff3"]
  path = nvim

[rerere]
  enabled = 1

[pull]
  # always rebase local changes on pulls
  rebase = true

[push]
  # Push current branch even if you've never pushed it before
  default = current
  followTags = true

[rebase]
  # will add --autosquash setting to rebases
  autosquash = true

[transfer]
  # do some extra checks when sending local changes
  fsckobjects = true

[user]
  # The name and e-mail address will be used to identify you in the commits
  name = "Paweł Gościcki"
  email = pawel.goscicki@gmail.com
