[alias]
  a = add
  b = branch
  bl = blame
  br = branch
  c = commit
  ca = commit --amend
  ci = commit
  cia = commit --amend
  cl = clone
  co = checkout
  compare = log --left-right --graph --cherry-pick --date=relative --pretty=format:'%Cred%h%Creset %s %Cgreen(%an, %ad)%Creset'
  count = shortlog -sn
  d = diff
  dc = diff --cached
  g = grep
  i = init
  l = log -10 --date=relative --pretty=format:'%Cred%h%Creset %s %Cgreen(%an, %ad)%Creset'
  ll = log --date=relative --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%an, %ad)%Creset'
  m = merge
  p = push
  patch = --no-pager diff --no-color
  pf = push -f
  pl = pull
  r = remote
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rbi2 = rebase --interactive HEAD~2
  rbi3 = rebase --interactive HEAD~3
  rbi5 = rebase --interactive HEAD~5
  rbi10 = rebase --interactive HEAD~10
  rbi20 = rebase --interactive HEAD~20
  rbs = rebase --skip
  ru = remote update
  sh = show
  s = status -sb
  scoreboard = shortlog -sn
  st = status
  t = tag
  undo = reset --soft HEAD^
  wc = whatchanged -p

[branch]
  # set up git pull to do a rebase instead of merge
  autosetuprebase = always

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[commit]
  verbose = true

[core]
  # For dealing with Windows projects
  autocrlf = false

  # Global gitignore
  excludesfile = ~/.gitignoreglobal

  # Make git rebase safer on OS X (http://www.git-tower.com/blog/make-git-rebase-safe-on-osx)
  trustctime = false

  # Glogal git attributes file
  attributesfile = ~/.gitattributes

  # Custom pager (wrapping long lines); Either `diff-highlight` (from
  # git-contrib) or custom `diff-so-fancy` (if available)
  pager = "if type diff-so-fancy >/dev/null 2>&1; then diff-so-fancy | less --tabs=4 -RFX; else diff-highlight | less -r; fi"

[diff]
  # Detect renames of files
  renames = true

[grep]
  lineNumber = true
  extendedRegexp = true

[init]
  # Default git hooks (will be copied over to each newly cloned repo)
  templatedir = ~/.git_template

[merge]
  tool = vimdiff

[push]
  # Push current branch even if you've never pushed it before
  default = current

[rebase]
  # will add --autosquash setting to rebases
  autosquash = true

[user]
  # The name and e-mail address will be used to identify you in the commits
  name = "Paweł Gościcki"
  email = pawel.goscicki@gmail.com
