[alias]
  a = add
  b = branch
  bl = blame
  br = branch
  c = commit
  ca = commit --amend
  ci = commit
  cia = commit --amend
  cl = clone
  co = checkout
  compare = log --left-right --graph --cherry-pick --date=relative --pretty=format:'%Cred%h%Creset %s %Cgreen(%an, %ad)%Creset'
  count = shortlog -sn
  d = diff
  dc = diff --cached
  g = grep
  l = log -10 --date=relative --pretty=format:'%Cred%h%Creset %s %Cgreen(%an, %ad)%Creset'
  ll = log --date=relative --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%an, %ad)%Creset'
  m = merge
  p = push
  pf = push -f
  r = remote
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rbi5 = rebase --interactive HEAD~5
  rbi10 = rebase --interactive HEAD~10
  rbi20 = rebase --interactive HEAD~20
  rbs = rebase --skip
  ru = remote update
  sh = show
  s = status -sb
  scoreboard = shortlog -sn
  st = status
  t = tag
  undo = reset --soft HEAD^
  wc = whatchanged -p

[branch]
  # set up git pull to do a rebase instead of merge
  autosetuprebase = always

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[core]
  # For dealing with Windows projects
  autocrlf = false

  # Global gitignore
  excludesfile = ~/.gitignoreglobal

  # Make git rebase safer on OS X (http://www.git-tower.com/blog/make-git-rebase-safe-on-osx)
  trustctime = false

[init]
  # Default git hooks (will be copied over to each newly cloned repo)
  templatedir = ~/.git_template

[diff]
  # Detect renames of files
  renames = true

[grep]
  lineNumber = true
  extendedRegexp = true

[merge]
  tool = vimdiff

[pager]
  # Use diff-highlight (from git-contrib) to highlight line changes
  # and wrap long-lines when printing on the screen (i.e. use `less` as a pager)
  diff = diff-highlight | less -r
  log = diff-highlight | less -r
  show = diff-highlight | less -r

[push]
  # Push current branch even if you've never pushed it before
  default = current

[user]
  # The name and e-mail address will be used to identify you in the commits
  name = "Paweł Gościcki"
  email = pawel.goscicki@gmail.com
